USE [master]
GO
/****** Object:  Database [VendingMachine]    Script Date: 14.02.2022 13:39:02 ******/
CREATE DATABASE [VendingMachine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingMachine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingMachine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingMachine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingMachine]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 14.02.2022 13:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[Id] [int] NOT NULL,
	[Denominal] [int] NOT NULL,
 CONSTRAINT [PK_Coins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 14.02.2022 13:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Cost] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Drinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachineCoins]    Script Date: 14.02.2022 13:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachineCoins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[CoinsId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_VendingMachineCoins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachineDrinks]    Script Date: 14.02.2022 13:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachineDrinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[DrinksId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_VendingMachineDrinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 14.02.2022 13:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecretCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VendingMachines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VendingMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachineCoins_Coins] FOREIGN KEY([CoinsId])
REFERENCES [dbo].[Coins] ([Id])
GO
ALTER TABLE [dbo].[VendingMachineCoins] CHECK CONSTRAINT [FK_VendingMachineCoins_Coins]
GO
ALTER TABLE [dbo].[VendingMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachineCoins_VendingMachines] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
GO
ALTER TABLE [dbo].[VendingMachineCoins] CHECK CONSTRAINT [FK_VendingMachineCoins_VendingMachines]
GO
ALTER TABLE [dbo].[VendingMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachineDrinks_Drinks] FOREIGN KEY([DrinksId])
REFERENCES [dbo].[Drinks] ([Id])
GO
ALTER TABLE [dbo].[VendingMachineDrinks] CHECK CONSTRAINT [FK_VendingMachineDrinks_Drinks]
GO
ALTER TABLE [dbo].[VendingMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachineDrinks_VendingMachines] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
GO
ALTER TABLE [dbo].[VendingMachineDrinks] CHECK CONSTRAINT [FK_VendingMachineDrinks_VendingMachines]
GO
USE [master]
GO
